@model IEnumerable<FoodDeliverySystem.Models.DBContext.Order>

@{
    ViewBag.Title = "OrderInformation";
}

<div class="container-cus">
    <h2 class="text-center text-uppercase font-weight-bold my-5">Lịch sử đơn hàng</h2>

    <table class="table">
        <tr>
            <th>
                Mã đơn
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Ghi chú
            </th>
            <th>
                Thanh toán
            </th>
            <th>
                Tổng tiền
            </th>
            <th>
                Mã giảm giá
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.order_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.order_created_date)
                </td>
				<td>
					@if (item.order_status == "Order canceled")
					{
						<span class="badge-danger">@item.order_status</span>
					}
					@if (item.order_status == "Order confirmed")
					{
						<span class="badge-primary">@item.order_status</span>
					}
					@if (item.order_status == "Pending")
					{
						<span class="badge-warning">@item.order_status</span>
					}
					@if (item.order_status == "Completed")
					{
						<span class="badge-success">@item.order_status</span>
					}

				</td>
                <td>
                    @Html.DisplayFor(modelItem => item.order_note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.order_payment_method)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.order_total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.order_discount)
                </td>
            </tr>
        }

    </table>
</div>
