@model FoodDeliverySystem.Presentation.ViewModels.RestaurantDetailViewModel

<link href="@Url.Content("~/Content/smart_cart.min.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css" />


<div class="now-detail-restaurant clearfix">
    <div class="container-cus">
        <div class="detail-restaurant-img">
            <img src="~/Assets/images/@Model.Restaurant.restaurant_image" alt="'+@Model.Restaurant.restaurant_name+'" class="">
        </div>
        <div class="detail-restaurant-info">
            <div class="kind-restaurant">
                <div class="tag-preferred">
                    <img width="16" height="16" src="~/Assets/images/gold-medal.svg" />
                    Yêu thích
                </div>
                <span>
                    @Model.Restaurant.Restaurant_category.restaurant_category_name
                </span>
            </div>
            <h1 class="name-restaurant">@Model.Restaurant.restaurant_name</h1>
            <div class="address-restaurant">@Model.Restaurant.restaurant_address</div>
            <div class="rating">
                <div class="stars">
                    <span class="full"><img width="16" height="16" src="~/Assets/images/star.svg" /></span>
                    <span class="full"><img width="16" height="16" src="~/Assets/images/star.svg" /></span>
                    <span class="full"><img width="16" height="16" src="~/Assets/images/star.svg" /></span>
                    <span class="full"><img width="16" height="16" src="~/Assets/images/star.svg" /></span>
                    <span class="full"><img width="16" height="16" src="~/Assets/images/star.svg" /></span>
                </div>
                <span class="number-rating">999+</span>
                lượt đánh giá từ Now
            </div>
            <div class="status-restaurant">
                <div class="opentime-status">
                    <span class="stt online" title="Mở cửa"></span>
                </div>
                <div class="time">
                    <img class="pb-1" width="16" height="16" src="~/Assets/images/clock.svg" />
                    @Model.Restaurant.restaurant_start_time | @Model.Restaurant.restaurant_end_time
                </div>
            </div>
            <div class="cost-restaurant pb-5">
                <img width="25" height="25" src="~/Assets/images/big-dollar-coin.svg" />
                15,000 - 50,000
            </div>
            <div class="utility-restaurant clearfix">
                <div class="utility-item">
                    <div class="utility-title">Phí dịch vụ @Model.Restaurant.restaurant_latitude</div>
                    <div class="utility-content">
                        <span class="txt-bold txt-red"> 0.0% Phí phục vụ </span>
                    </div>
                </div>
                <div class="utility-item">
                    <div class="utility-title">Dịch vụ bởi</div>
                    <div class="utility-content">
                        <span class="txt-bold txt-red">Anhhungchinsu</span>
                    </div>
                </div>
                <div class="utility-item">
                    <div class="utility-title">Chuẩn bị</div>
                    <div class="utility-content">12 Phút</div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-cus position-relative clearfix">
    <div class="now-menu-restaurant">
        <div class="menu-restaurant-tab">
            <div class="item active">Thực đơn</div>
        </div>
        <div class="menu-restaurant-content-tab">
            <div class="menu-restaurant-container">
                <div class="menu-restaurant-category">
                    <div class="list-category" id="scroll-spy">
                        <div class="scrollbar-container ps">
                            @foreach (var item in Model.Restaurant.Menus)
                            {
                                <div class="item">
                                    <span id="42804" title="@item.menu_name" class="item-link">@item.menu_name</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="menu-restaurant-detail">
                    <div class="promotions-order">
                        @foreach (var item in Model.Discounts)
                        {
                            <div id="promotion-item" class="promotion-item">
                                <div>
                                    <img src="https://images.foody.vn/icon/discount/s/voucher_14.png" alt="@item.discount_content" class="icon-promotion">
                                    <div class="content">@item.discount_content</div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="menu-restaurant-list">
                        <div id="restaurant-item">
                            <div>
                                @foreach (var item in Model.Restaurant.Menus)
                                {
                                    <div class="menu-group" id="section-group-menu-492804">
                                        <div class="title-menu">@item.menu_name</div>
                                    </div>
                                    foreach (var f in item.Foods)
                                    {
                                        <div class="item-restaurant-row">
                                            <div class="row sc-product-item">
                                                <div class="col-auto item-restaurant-img">
                                                    <button class="inline">
                                                        <img src="~/Assets/images/@f.food_image" alt="@f.food_name" width="60" height="60">
                                                    </button>
                                                </div>
                                                <div class="col item-restaurant-info">
                                                    <h2 data-name="product_name" class="item-restaurant-name">@f.food_name</h2>
                                                    <div class="item-restaurant-desc">@f.food_note</div>
                                                    <div class="item-restaurant-total">
                                                        Đã được đặt
                                                        <span class="txt-bold">&nbsp;@f.food_served+&nbsp;</span>lần
                                                    </div>
                                                </div>
                                                <div class="col-auto item-restaurant-more">
                                                    <div class="row">
                                                        <div class="col-auto product-price">
                                                            <div class="current-price">
                                                                <span name="product_price">@f.food_price</span>
                                                                <span style="font-weight: 400;position: relative;top: -9px;font-size: 10px;right: 0;">đ</span>
                                                            </div>

                                                        </div>
                                                        <div class="col-auto adding-food-cart txt-right">
                                                            <div class="sc-add-to-cart btn-adding" id="btnAddFood">+</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <input name="product_id" value="@f.food_id" type="hidden" />
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-order" id="exampleModalCenter" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-order-detail">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Xác nhận đơn hàng</h5>
                    <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="order-left">
                        <div class="map-order">
                            <div class="embed-responsive map-order" id="map-order">
                                <div id="osm-map">

                                </div>
                            </div>
                        </div>
                        <div class="direction-content">
                            <div class="direction-info">
                                <div class="direction-from">
                                    <div class="direction-name">@Model.Restaurant.restaurant_name</div>
                                    <div class="direction-name">@Model.Restaurant.restaurant_address</div>
                                </div>
                                <div class="direction-to">
                                    <div>
                                        <div class="direction-name">
                                            <span>f</span>
                                            <span> - 0354549969 </span>
                                        </div>
                                        <div class="direction-address">
                                            <span id="userAddress"> 132/68 Đường Cầu Diễn, Minh Khai, Từ Liêm, Hà Nội, Vietnam</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-right">
                        <p class="title-popup-order">Chi tiết đơn hàng</p>
                        <div class="order-list" id="orderList">
                        </div>
                        <div class="info-order">
                            <div class="row">
                                <div class="col">Tổng cộng <span class="txt-bold" id="totalCart">4</span> phần</div>
                                <div class="col-auto txt-bold"><span id="cartSubTotal">214,000</span><span class="format-price">đ</span></div>
                            </div>
                            <div class="row">
                                <div class="col">Phí dịch vụ: &nbsp;</div>
                                <div class="col-auto"><span id="serviceCharge">4000</span><span class="format-price">đ</span></div>
                            </div>
                            <div class="row">
                                <div class="col">Phí vận chuyển: <span id="cart-distance" class="txt-red"></span></div>
                                <div class="col-auto"><span id="moneyDistance">&nbsp</span><span class="format-price">đ</span></div>
                            </div>
                        </div>
                        <div class="discount-code">
                            <div class="row">
                                <div class="col">
                                    <span class="text">Mã khuyến mãi</span>
                                    <input type="text" class="input-code" placeholder="Nhập mã" value="">
                                    <button id="btnCode" type="button">Áp dụng</button>
                                </div>
                            </div>
                        </div>
                        <div class="padding-10 txt-bold font16">
                            <div class="row">
                                <div class="col"><span>Tổng cộng</span></div>
                                <div class="col-auto"><span id="totalMoney"></span><span class="format-price">đ</span></div>
                            </div>
                        </div>
                        <div class="payment-methods">
                            <div class="row">
                                <div class="col"><span class="txt-bold font16 txt-black">Tiền mặt</span></div>
                                <div class="col-auto"><span class="txt-blue">Thay đổi</span></div>
                            </div>
                        </div>
                        <div class="order-note">
                            <textarea id="order-note" placeholder="Ví dụ: Tòa nhà ABC, lầu 8, cho thêm 2 ly nhựa...." name="note"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="submit-order" id="submit-order">
                        Đặt hàng
                    </div>
                </div>
            </div>
        </div>
    </div>
    <aside class="col-md-4 now-bill-restaurant">

        <!-- Cart submit form -->
        <form>
            <!-- SmartCart element -->
            <div id="smartcart"></div>
        </form>

    </aside>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">

    function calcMoneyByDistance(distance) {
        if (distance < 3) {
            return 30000
        } else {
            return 30000 + 5000 * (distance - 3).toFixed(2)
        }
    }

    function updateTotalMoney() {
        let cartSubTotal = parseFloat($('#cartSubTotal').text().replace(/\D/g, ''))
        let serviceCharge = parseFloat($('#serviceCharge').text())
        let moneyDistance = parseFloat($('#moneyDistance').text())
        let rs = cartSubTotal + serviceCharge + moneyDistance
        if ($('#discountValue').length) {
            rs -= parseFloat($('#discountValue').text())
        }
        $('#totalMoney').text(rs)
    }

    $(document).ready(function () {
        // Initialize Smart Cart
        $('#smartcart').smartCart();

        $('#btnAddFood').on("click", function () {
            if (!$('#loginedName').text()) {
                window.location.href = "https://localhost:44320/Users"
            }
        })

        $('#closeModal').on('click', function () {
            $('#map-order').empty()
            $('#orderList').empty()
            $('#rowDiscount').empty()
            $('#exampleModalCenter').on('hidden.bs.modal', function () {
                $('#exampleModalCenter').modal('dispose')
            });
        })



        $('.sc-cart-checkout').on('click', function () {
            $('#map-order').append("<div id='osm-map'></div>")
            $('#exampleModalCenter').on('shown.bs.modal', function () {
                let element = $('#osm-map').get(0)
                element.style = 'height:100%;';
                if (!navigator.geolocation) {
                    alert("Xin hãy bật quyền location '.'")
                } else {
                    navigator.geolocation.getCurrentPosition((position) => {
                        let latitude = position.coords.latitude;
                        let longitude = position.coords.longitude;
                        let map = L.map(element)
                        let target = L.latLng(latitude, longitude)
                        let target2 = L.latLng(21.0379746, 105.8800013)
                        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                        }).addTo(map)
                        let control = L.Routing.control({
                            waypoints: [
                                L.latLng(latitude, longitude),
                                L.latLng(21.0379746, 105.8800013)
                            ],
                            router: new L.Routing.osrmv1({
                                profile: 'car'
                            }),
                        }).addTo(map)

                        control.on('routesfound', function (e) {
                            let routes = e.routes
                            let summary = routes[0].summary
                            alert('Tổng quãng đường ' + summary.totalDistance / 1000 + ' km nên là hãy kiên nhẫn đợi ' + Math.round(summary.totalTime % 3600 / 60) + ' phút nhé ^^')
                            $('#cart-distance').text(summary.totalDistance / 1000 + ' km')
                            $('#moneyDistance').text(calcMoneyByDistance(summary.totalDistance / 1000))
                            updateTotalMoney()
                        })

                        map.setView(target, 14)
                        L.marker(target2).addTo(map)
                        L.marker(target).addTo(map)
                        //************************************************************
                        $('#totalCart').text($('.sc-cart-count').text())
                        $('#cartSubTotal').text($('.sc-cart-subtotal').text())
                        let cartList = JSON.parse($('#cart_list').val())
                        for (let item of cartList) {
                            let ht = '<div class="order-item">' +
                                '<span class="order-item-number">' + item.product_quantity + '</span>' +
                                '<div class="order-item-info">' +
                                '<div class="order-item-name"><span class="txt-bold">' + item.product_name + '&nbsp;</span></div>' +
                                '</div>' +
                                '<div class="order-item-price">' +
                                item.product_price * item.product_quantity +
                                '<span class="format-price">đ</span>' +
                                '</div>' +
                                '</div>'
                            $('#orderList').append(ht)
                        }
                        $('#userAddress').text(localStorage.getItem('userAddress'))
                    }, () => {
                        alert("Xin hãy bật quyền location '.'")
                    })
                }
            })
        })

        $('#btnCode').on('click', function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetDiscount", "Discounts")',
                contentType: "application/json; charset=utf-8",
                data: {
                    code: $('.input-code').val()
                },
                dataType: "json",
                success: function (result) {
                    let rs = JSON.parse(result)
                    let ht = '<div id="rowDiscount" class="row">' +
                        '<div class="col">Mã khuyến mãi: &nbsp;</div>' +
                        '<div class="col-auto">- <span id="discountValue">' + rs.discount_value+'</span><span class="format-price">đ</span></div>' +
                        '</div>'
                    $('.info-order').append(ht)
                    updateTotalMoney()
                },
                error: function () {
                    console.log("get discount");
                }
            })
        })

        $('#submit-order').on('click', () => {
            let Order = {
                'order_status': "make order",
                'order_note': $('#order-note').val(),
                'order_payment_method': "cash",
                'order_service_charge': $('#serviceCharge').text(),
                'order_transport_fee': $('#moneyDistance').text(),
                'order_discount': $('.input-code').val(),
                'order_longitude': sessionStorage.getItem('longitude'),
                'order_latitude': sessionStorage.getItem('latitude')
            }
            let cartList = JSON.parse($('#cart_list').val())
            let Order_details = []
            for (let item of cartList) {
                let Order_detail = {
                    'Order_detail_food_id' : item.product_id,
                    'Order_detail_quantity' : item.product_quantity
                }
                Order_details.push(Order_detail)
            }

            let sendObject = {
                'Order': Order,
                'restaurantId': @Model.Restaurant.restaurant_category_id,
                'Order_details': Order_details
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("checkout", "Checkout")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(sendObject),
                success: function () {
                    alert("Đặt hàng thành công!!!")
                    $('#closeModal').click()
                },
                error: function (e) {
                    console.log(e);
                }
            })
        })
    });
</script>
